@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap&subset=latin-ext');

body {
  font-family: Verdana, sans-serif;
  background-image: url(back.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color: white;
}

* {
  box-sizing: border-box;
}

.titulo {
	font-family: 'Bungee Shade', cursive;
	text-align: center;
	color: yellow;
    border: 5px red;
    margin-bottom: 5%;
}

.alternativas {
	text-align: center;
	padding-top: 8%;
	margin: 0 auto;
}

.button_nv {
   background-image: -webkit-linear-gradient(top, #02F60B, #3E21D0);
   background-image: -moz-linear-gradient(top, #02F60B, #3E21D0);
   background-image: -ms-linear-gradient(top, #02F60B, #3E21D0);
   background-image: -o-linear-gradient(top, #02F60B, #3E21D0);
   background-image: linear-gradient(to bottom, #02F60B, #3E21D0);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 50px;
   font-weight: 600;
   padding: 30px;
   text-shadow: 0px 0px 26px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   align-items: center;
}

.button_nv2 {
   background-color: green;
   background: url(lock.png);
   background-position: center;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 50px;
   font-weight: 600;
   padding: 30px;
   text-shadow: 0px 0px 26px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   position: relative;
}

.button_nvimg {
   background-image: -webkit-linear-gradient(top, #02F60B, #3E21D0);
   background-image: -moz-linear-gradient(top, #02F60B, #3E21D0);
   background-image: -ms-linear-gradient(top, #02F60B, #3E21D0);
   background-image: -o-linear-gradient(top, #02F60B, #3E21D0);
   background-image: linear-gradient(to bottom, #02F60B, #3E21D0);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 10px;
   font-weight: 600;
   padding: 0px;
   text-shadow: 0px 0px 26px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   align-items: center;
   margin-left: 15%;
}

.text {
	opacity: 0;
}

.divbt {
  text-align: center;
}

.lockimage {
  width: 70%;
  padding-right: : 4px;
}
.button2 {
  margin-left: 20%;
}

.buttonimg {
  margin-left: 20%;
  padding: 15px;;
}

.divbt2 {
	text-align: center;
	margin-top: 20%;
}

.image {
	width: 80%;
	height: auto;
}

.a70-width{
 width: 70%;
 height: auto;
 display: inline-block;
}
.img {
  width: 70%;
}